.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-text {
  font-size: 18px;
  color: #b4b4b4;
}

.clickable {
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.clickable-active {
  color: #723f8c;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 3px solid #723f8c;
}


.button {
  background-color: #723f8c;
  border-radius: 5px;
  width: 120px;
  height: 48px;
  text-transform: capitalize;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
